<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hola esto es de la tarea de user_agent</h1>
    <h4>Pablo Romera Gonzálvez</h2>
    <a href="{% url 'info_user_agent' %}" target="_blank" style="color: green;">Mostrar informacion del user agent</a>
    <br>
    <br>
    <br>
    <a href="{% url 'info_dispositivo' %}" target="_blank" style="color: red;">Mostrar informacion del dispositivo</a>
</body>
</html>